<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
<title>Document</title>
</head>
<body>
   
    <div class="container border w-75  d-flex justify-content-between">
        <div class="p-3">
        <div class="d-flex justify-content-between align-items-center ">
            <h1>Shopping cart</h1>
            <input type="search" class="form-control w-25" placeholder="Search By Title" />
        </div>
        <hr>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
           
            <div class="d-flex align-items-center">
                <img width="80" src="https://www.compressport.com/fr/25613-xlarge_default/t-shirt-de-course-a-pied-homme-bleu.jpg" alt="laptop-case">
                <div class="p-2">
                    <h6 class="text-secondary">Shirt</h6>
                    <h6 class="fw-bold">Coton Shirt</h6>
                    
                </div>
            </div>
           
                <div class="d-flex align-items-center  justify-content-between">
                <button class="btn  m-1">
                    <span style=" color: Dodgerblue;">
                    <i class="fas fa-minus"></i>
                    </span>
                </button>
                <input type="number" value="1" class="form-control w-25 m-1" />
                <button class="btn m-1 fw-bold">
                    <span style="color: Dodgerblue;">
                        <i class="fal fa-plus"></i>
                    </span>
                    </button>
                </div >
                <div>
                <p class="fw-bold">
                    £44.00
                </p>
            </div>
            <div >
                <button class="btn m-1 fw-bold">
                   
                    <i class="fas fa-times"></i>
                    
                    </button>
                </div>
            
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
           
            <div class="d-flex align-items-center">
                <img width="80" src="https://www.compressport.com/fr/25613-xlarge_default/t-shirt-de-course-a-pied-homme-bleu.jpg" alt="laptop-case">
                <div class="p-2">
                    <h6 class="text-secondary">Shirt</h6>
                    <h6 class="fw-bold">Coton Shirt</h6>
                    
                </div>
            </div>
           
                <div class="d-flex align-items-center  justify-content-between">
                <button class="btn  m-1">
                    <span style=" color: Dodgerblue;">
                    <i class="fas fa-minus"></i>
                    </span>
                </button>
                <input type="number" value="1" class="form-control w-25 m-1" />
                <button class="btn m-1 fw-bold">
                    <span style="color: Dodgerblue;">
                        <i class="fal fa-plus"></i>
                    </span>
                    </button>
                </div >
                <div>
                <p class="fw-bold">
                    £44.00
                </p>
            </div>
            <div >
                <button class="btn m-1 fw-bold">
                   
                    <i class="fas fa-times"></i>
                    
                    </button>
                </div>
            
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
           
            <div class="d-flex align-items-center">
                <img width="80" src="https://www.compressport.com/fr/25613-xlarge_default/t-shirt-de-course-a-pied-homme-bleu.jpg" alt="laptop-case">
                <div class="p-2">
                    <h6 class="text-secondary">Shirt</h6>
                    <h6 class="fw-bold">Coton Shirt</h6>
                    
                </div>
            </div>
           
                <div class="d-flex align-items-center  justify-content-between">
                <button class="btn  m-1">
                    <span style=" color: Dodgerblue;">
                    <i class="fas fa-minus"></i>
                    </span>
                </button>
                <input type="number" value="1" class="form-control w-25 m-1" />
                <button class="btn m-1 fw-bold">
                    <span style="color: Dodgerblue;">
                        <i class="fal fa-plus"></i>
                    </span>
                    </button>
                </div >
                <div>
                <p class="fw-bold">
                    £44.00
                </p>
            </div>
            <div >
                <button class="btn m-1 fw-bold">
                   
                    <i class="fas fa-times"></i>
                    
                    </button>
                </div>
            
        </li>
    </ul>
    </div>
    <div class="bg-secondary p-4 text-dark bg-opacity-10 w-25">
        <h1>Summary</h1>
        <hr>
        <div class="d-flex justify-content-between m-1">
            <p class="fw-bold">ITEMS3</p>
            <p class="fw-bold">£132.00</p>
        </div>
        <p class="fw-bold">SHIPPING</p>
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">Standard Delivery £5.00</option>
            <option value="2">Standard Delivery £10.00</option>
            <option value="3">Standard Delivery £15.00</option>
          </select>
          <p class="fw-bold">GIVE CODE</p>
          <input type="text" class="form-control" >
          <hr>
          <div class="d-flex justify-content-between m-1">
            <p class="fw-bold">TOTAL PRICE</p>
            <p class="fw-bold">£137.00</p>
        </div>  
        </div>

</div>
</body>
</html>